{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ article.category }}{% endblock %}

{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

  {% if article.bokehcss and article.bokehjs %}
      <link rel='stylesheet' href='{{ article.bokehcss }}'>
      <script src="{{ article.bokehjs }}"></script>
  {% endif %}

{% endblock %}

{% block content %}
<section id="content" class="body">
    <header>
    <h1>
      {{ article.title }}
    </h1>
</header>
<div class='article_content'>
{{ article.content }}
</div>
</section>

{% endblock %}
